@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev,
.slick-next {

    display: block;

    position: absolute;
    top: 50%;

    width: 20px;
    height: 20px;
    line-height: 0;
    padding: 0;
    border: none;
    background: transparent;

    color: transparent;
    font-size: 0;
    outline: none;

    cursor: pointer;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    background: transparent;
    color: transparent;
    outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    line-height: 1;
    color: white;
    font-family: 'slick';
    font-size: 20px;

    opacity: .75;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -80px;
}

[dir='rtl'] .slick-prev {
    right: -10px;
    left: auto;
}

.slick-prev:before {
    content: url('../img/common/img_arrowleft.png');
}

[dir='rtl'] .slick-prev:before {
    content: url('../img/common/img_arrowright.png');
}

.slick-next {
    right: -15px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -15px;
}

.slick-next:before {
    content: url('../img/common/img_arrowright.png');
}

[dir='rtl'] .slick-next:before {
    content: url('../img/common/img_arrowleft.png');
}

/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 15px;
}

.slick-dots {

    display: block;
    position: absolute;
    bottom: -40px;

    width: 100%;


    list-style: none;
    padding: 0;

    text-align: center;
}

.slick-dots li:first-child {
    margin-left: 45%;
}

.slick-dots li {

    display: block;
    position: relative;

    width: 20px;
    height: 20px;

    padding: 0;

    cursor: pointer;
}

.slick-dots li button {

    display: block;

    width: 20px;
    height: 20px;
    line-height: 0;
    padding: 5px;
    border: 0;
    background: transparent;

    color: transparent;
    font-size: 0;
    outline: none;

    cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;
    line-height: 20px;
    color: black;
    font-family: 'slick';
    font-size: 6px;
    text-align: center;

    content: url('../img/common/img_dot1.png');

    opacity: .25;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: .75;
}