<section class="sec-footer">
<div class="l-inner clearfix">
  <div class="logo-blk ">
    <h4>
      <a href="#">
        <p>R Hotel</p>
      </a>
    </h4>
  </div>
  <div class="footer-nav-blk clearfix">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="discovery.html">Review</a></li>
      <li>LogIn</li>
      <li>LogOut</li>
    </ul>
    <ul>
      <li>Single Rooms</li>
      <li>Double Rooms</li>
      <li>Family Rooms</li>
      <li>Suite Rooms</li>
    </ul>
    <ul>
      <li>Luxe Rooms</li>
      <li>Deluxe Rooms</li>
     
    </ul>

  </div>

  <div class="mail-blk">
    <input type="text" id="mail" name="mail" placeholder="Email">
    <img src="img/common/img_mail.png" alt="mail">
    <p>Stay in touch with us for the freshest products!</p>
  </div>
  <div class="media-logo-blk">
    <%= image_tag "img_instagram.png"%>
    <%= image_tag "img_twitter.png"%>
    <%= image_tag "img_facebook.png"%>
    <%= image_tag "img_web.png"%>
  </div>
</div>
</section><!-- /.sec-footer -->