<%= render 'adminnav' %>
<% @users.each do |user| %>
  <%= image_tag(user.profile, :alt => "img"  ) %>	
  <p><%= user.name %></p>
  <%= button_to 'Delete', user_path(user), method: 'delete'  %>
<% end %>