<%= render 'admins/adminnav' %>
<div class="home-content">
<h1 class="title">Room Types</h1>
<table id="room-type">
    <thead>
       <tr>
          <th>Name</th>
          <th>Maximum Capacity</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
         <% @room_types.each do |room_type| %>
           <tr>
             <td><%= room_type.name %></td>
             <td><%= room_type.max_capacity %></td>
             <td><%= image_tag(room_type.room_type_img, :alt => "img" , class: 'profile' ) %></td>
            </tr>
         <% end %>
       </tbody>
</table>

</div>
</section>

<script>

$(document).ready(function() {
  $("#room-type").dataTable();
});

</script>