.sidebar {

  position: fixed;
  width: 240px;
  height: 100%;
  background: #0A2558;
  transition: all 0.5s ease;

}

.sidebar.active {

  width: 60px;

}

.sidebar .logo-details {

  display: flex;
  align-items: center;
  height: 80px;

}

.sidebar .logo-details i {

  color: #fff;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  min-width: 60px;

}

.sidebar .logo-details .logo_name {

  color: #fff;
  font-size: 24px;
  font-weight: 500;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar .nav-links {

  margin-top: 10px;
  
}

.sidebar .nav-links li {

  position: relative;
  height: 50px;
  list-style: none;
}

.sidebar .nav-links li a {

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {

  background: #081D45;
}

.sidebar .nav-links li a:hover {

  background: #081D45;

}

.sidebar .nav-links li i {

  color: #fff;
  font-size: 18px;
  text-align: center;
  min-width: 60px;

}

.sidebar .nav-links li a .links_name {

  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;

}

.sidebar .nav-links .log_out {

  position: absolute;
  bottom: 0;
  width: 100%;

}

.top-section {

  position: relative;
  left: 240px;
  width: calc(100% - 240px);
  background: #f5f5f5;
  transition: all 0.5s ease;
  min-height: 100vh;

}

.sidebar.active~.top-section {

  left: 60px;
  width: calc(100% - 60px);

}

.top-section nav {

  display: flex;
  position: fixed;
  left: 240px;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: calc(100% - 240px);
  height: 80px;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: all 0.5s ease;

}

.sidebar.active~.top-section nav {

  left: 60px;
  width: calc(100% - 60px);

}

.top-section nav .sidebar-button {

  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;

}

nav .sidebar-button i {

  margin-right: 10px;
  font-size: 35px;

}

.top-section nav .profile-details {

  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px 0 2px;
  min-width: 190px;

}

nav .profile-details img {

  width: 40px;
  height: 40px;
  border-radius: 6px;
  object-fit: cover;

}

nav .profile-details .admin_name {

  margin: 0 10px;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;

}

nav .profile-details i {

  color: #333;
  font-size: 25px;

}

.top-section .home-content {

  position: relative;
  padding-top: 104px;
  padding-left: 30px;
  padding-right: 30px;

}

.drop-cnt {

  display: none;
  position: absolute;
  z-index: 1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background: #0A2558;
  min-width: 160px;

}

.drop-cnt a {

  display: block;
  padding: 12px 16px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;

}

.drop-cnt a i{

  color: #FFF;

}

.drop-cnt a:hover {

  background: #081D45;

}

.show {

  display: block;
  margin-top: 130px;

}

.sidebarActive {

  background-color: #081D45 ;
  font-weight: 600;
  opacity: 1;

}

.title{
  margin-bottom: 50px;
}

.profile{
  width: 30px;
}

