<%= render 'admins/adminnav' %>
<div class="home-content">
<h1 class="title">Rooms</h1>
<table id="room">
    <thead>
       <tr>
          <th>Room Number</th>
          <th>Status</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
         <% @rooms.each do |room| %>
           <tr>
             <td><%= room.room_num %></td>
             <td><%= room.status %></td>
             <td><%= image_tag(room.room_img, :alt => "img" , class: 'profile' ) %></td>
            </tr>
         <% end %>
       </tbody>
</table>

</div>
</section>

<script>

$(document).ready(function() {
  $("#room").dataTable();
});

</script>