<%= render 'admins/adminnav' %>
<div class="home-content">
<h1 class="title">Food Types</h1>
<table id="food-type">
    <thead>
       <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
         <% @food_types.each do |food_type| %>
           <tr>
             <td><%= food_type.name %></td>
            </tr>
         <% end %>
       </tbody>
</table>

</div>
</section>

<script>

$(document).ready(function() {
  $("#food-type").dataTable();
});

</script>